.story-text-big {
  color: rgba(185, 185, 185, 1);
  font-size: 72px;
}

body {
  font-size: 20px;
}

.name {

}
 .location, .profession {

 }

//.section {
//  min-height: 100%;
//  padding-top: 50px;
//}

//.content {
//  height: 100%;
//}

.skill-list {
  li {
    display: inline;
    white-space: nowrap;
  }
}

.skills-level-3 {
  li {
    border: solid 1px;
    padding: 15px;
    font-size: 36px;
    line-height: 90px;
  }
}

.skills-level-2 {
  li {
    border: solid 1px;
    padding: 10px;
    font-size: 28px;
    line-height: 65px;
  }
}

.skills-level-1 {
  li {
    border: solid 1px;
    padding: 5px;
    font-size: 20px;
    line-height: 65px;
  }
}

.contact-item {
  font-size: 36px;
  text-align: center;
  line-height: 75px;
  a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
}

.intro {
  margin: auto;
  max-width: 800px;
  text-align: justify;
  margin-top: 50px;
  padding: 40px;
}