.story-text {
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
}
.learn-about-me {
  font-size: 140px;
  padding-top: 120px;
  line-height: 0.8;
  padding-bottom: 25px;
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
}
.image {
  margin: 40px 0 40px 0;
}
.need-to-know {
  line-height: 1.0;
}
body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #fdfdfd;
  color: #383131;
}
.name {
  font-size: 72px;
  font-weight: bolder;
}
.image img {
  width: 500px;
}
.intro {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 80px;
}
.basic-info {
  font-size: 30px;
  font-weight: bold;
}
.story-text-0 {
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
  font-size: 88px;
  line-height: 0.8;
}
.story-text-1 {
  font-size: 72px;
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
}
.story-text-2 {
  font-size: 30px;
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
}
.story-text-3 {
  font-size: 28px;
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
}
.skill-list span {
  display: inline;
  white-space: nowrap;
}
.skills span {
  border: solid 1px;
  line-height: 2.3;
}
.skills-level-3 span {
  font-size: 34px;
  padding: 8px;
  margin: 8px;
}
.skills-level-2 span {
  font-size: 21px;
  padding: 5px;
  margin: 5px;
}
.skills-level-1 {
  margin-bottom: 80px;
}
.skills-level-1 span {
  font-size: 13px;
  padding: 3px;
  margin: 3px;
}
.skill-level-3-title {
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
  font-size: 34px;
  padding-top: 21px;
}
.skill-level-2-title {
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
  font-size: 21px;
  padding-top: 13px;
}
.skill-level-1-title {
  text-align: right;
  color: rgba(56, 49, 49, 0.3);
  font-size: 13px;
  padding-top: 8px;
}
.contacts {
  margin-bottom: 80px;
  margin-top: 80px;
}
.contact-item {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #383131;
}
.contact-item a {
  text-decoration: none;
  color: #383131;
  padding-left: 10px;
}
.job {
  margin-top: 40px;
}
.job-header {
  font-size: 30px;
}
.job-description {
  font-size: 24px;
}
.job-title {
  font-weight: bold;
}
.jobs {
  margin-top: 40px;
  margin-bottom: 60px;
}
.container {
  margin-bottom: 200px;
}
.languages {
  margin-top: 80px;
  margin-bottom: 60px;
}
.language-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}
.language-bar {
  margin-top: 5px;
  font-size: 20px;
  height: 40px;
  color: #fdfdfd;
  width: 380px;
}
.language-bar div {
  padding-left: 10px;
  padding-right: 10px;
  width: 22%;
  display: inline-block;
  text-align: center;
  background-color: #e9e9e9;
  height: 100%;
}
.language-bar .full {
  background-color: rgba(56, 49, 49, 0.5);
}
